$cor1: #5E663F;
$cor2: #E6DCCC;
$cor3: #C2BAAA;
$cor4: #AB7745;
$cor5: #2B190A;
$cor6: #5E663F;
$cor7: #5E663F;

.coluna { /* Qualquer coisa que divida espaço horizontalmente */
    float: left;
    height: 95%;
}
.sidebar { /* Menus laterais */
    background-color: $cor4;
}
.title{ /* isso aqui deve ser tipo um cardzinho para o título de cada seção */

    /* ! NÃO TÁ FUNFANDO ! */
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 100%;
    padding: 1%;
    margin-top: 2%;
    float: left;
}
.principal { /* Parte dentral da página */ 
    width: 60%;
}
.largo { /* Qualquer coisa de 100% de width */
    float: left;
    width: 100%;
    height: 5%;
}
.nomePerfil { /* o nome no bloco de perfil nome+foto */
    float: left;
    padding-top: 6%;
}
.ftPerfil { /* a foto no bloco de perfil nome+foto */
    float: left;
    height: 65px;
    width: 65px;
}

.container-fluid{
    overflow: hidden;
    padding: 1%;
}

.col-sm-2, .col-sm-3, .col-sm-7{
    padding-bottom: 424242px;
    margin-bottom: -424242px;
}

.perfil{
    float:left;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: $cor1;
    margin: 1%;

}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

.center {
    text-align: center;
}

.fonteBranca{
    color: $cor2;
}

.body{
    background-color: $cor5;
}